# weights
*.ckpt
*.pt
*.pth
*.bin
*.safetensors

# images
*.png
*.jpg
*.jpeg

# logs
logs/
*.log

# python
__pycache__/
*.pyc

# env
.env
venv/
.venv/

# vscode
.vscode/

eval_scripts/CLASS/generated_images/

# include code only
!train_scripts/**/*.py
!eval_scripts/**/*.py
!configs/**

src/taming-transformers/